:root,
:root *,
:root ::before,
:root ::after {
  box-sizing: border-box;
  word-break: break-word;
}

:root {
  --navbar-height: 72px;
  --form-height: 42px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-background);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.navbar {
  height: var(--navbar-height);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
}

.query-form {
  padding: 0 4px;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  margin: 0;
}

.query-form button[type="submit"] {
  line-height: 1;
  padding: 0.35rem;
  margin: 0;
}

.main {
  overflow-x: hidden;
  width: 96%;
  --main-spacing: 32px;
  min-height: 400px;
  padding: 16px;
  margin: 0 auto;
}

.back-to-top {
  font-size: 1.4rem;
  padding: 8px;
  min-width: 300px;
}

@media screen and (min-width: 780px) {
  .main {
    padding: 24px;
  }
}

.wikipedia-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  flex-flow: row wrap;
  list-style: none;
  margin: 0 0 1.4rem;
  padding: 0;
}

.results-section hr {
  margin: 2rem 0;
}

.results-section hr:after,
.results-section hr:before {
  font-size: 2rem;
}

.wikipedia-links li {
  list-style: none;
  white-space: nowrap;
}

.wikipedia-links li::before {
  content: unset;
}

.wikipedia-item {
  width: 300px;
  height: 300px;
  overflow: hidden;
  word-break: break-all;
}

input[type="search"] {
  max-width: 160px;
}
